<div class="content" id="showCall">
		<h3>Call Record</h3>


	<table class="table table-bordered table-condensed table-striped call-padded">
		<tr>
			<th>Call ID #</th>
			<td><%= @call.id %></td>
		</tr>
		<tr>
			<th>Time of Call</th>
			<td><%= @call.received_at %></td>
		</tr>
		<tr>
			<th>Callback #</th>
			<td><%= @call.caller %></td>
		</tr>
		<tr>
			<th>Duration</th>
			<td><%= "#{@call.duration} seconds" %></td>
		</tr>
		<tr>
			<th>Call Status</th>
			<td><%= @call.status %></td>
		</tr>
		<tr>
			<th>Disposition</th>
			<td><%= @call.disposition %></td>
		</tr>
		<tr>
			<th>Assigned To</th>
			<td><%= @call.assign_agent(@call.user_id) %></td>
		</tr>
		<tr>
			<th>Reschedule Time</th>
			<td>
				<%= render 'time', :call => @call %>
			</td>
		</tr>
		<tr>
			<th>Audio Message</th>
			<td>
				<% if @call.recording  != nil %>
					<%= link_to "Link", @call.recording %>
				<% else %>
					No Message
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Zendesk Ticket</th>
			<td>
				<%= link_to "Zendesk Ticket", @call.zendesk_call_string(@call.zendesk_id)%>
			</td>
		</tr>
		<tr>
			<th>Last Comment</th>
			<td><%= @call.last_comment%></td>
		</tr>
	</table>
	
	<div id="comments">
		<%= render 'comments', :call => @call %>
	</div>
	<div class="new_comment">
		<h2>Add a Comment</h2>
		<%= render 'form', :call => @call %>
	</div>
</div>