<%= form_for(@user,:html => { :class => "form-search well" }, :remote => true) do |f|%>
	<h5>Name:</h5>
	<%= f.text_field :name %>
	<h5>Callback #:</h5>
	<%= f.text_field :phone %>
	<h5>Email:</h5>
	<%= f.text_field :email %>
	<h5>Priority:</h5>
	<%= f.text_field :priority, :class => "span1" %>
	<div class="update_user">
		<%= f.submit %>
	</div>
<% end %>