	<div class="home available_agents" style="display: none;">

	</div>


	<div class="row-fluid status_screen">
	  <div class="span12">
	    <div class="row-fluid">
	      <div class="span6">
	      	<div class="agent_activity">
						<h1>Agent Activity</h1>
						<table class="table table-condensed call-padded agent-table">
							<thead>
								<tr class="table-headers">
									<th><span class="icon-calendar"></span> Time </th>
									<th><span class="icon-user"></span> Agent </th>
									<th><span class="icon-hand-right"></span> From </th>
									<th><span class="icon-tag"></span> Status </th>			
								</tr>
							</thead>
							<tbody>		
						 		<% @user_activities.each do |user_activity| %>
								<tr id="user_activity_<%= user_activity.id %>">
									<td><%= nice_time user_activity.received_at %></td>
									<td><%= user_activity.user.name ? user_activity.user.name : user_activity.user.email %></td>
									<td><%= number_to_phone(user_activity.caller.gsub(/^1/, '')) %></td>
									<td><%= user_activity.disposition %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
	      </div>
	      <div class="span6">
	      	<div id="inprogress" class="agent_activity" <% if @in_progress_calls.empty? %>style="display: none"<% end %>>
						<%= render 'in_progress', :in_progress_calls => @in_progress_calls %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id="unresolved_calls">
		<%= render 'calls/calls_partial', :title => "Unresolved Calls", :calls => @calls, :call_ref => home_path, :call_update_target => "unresolved_calls" %>
	</div>

<%= render 'call_modal' %>
<script>
refreshTimer = setInterval(function() {
	checkActivity();
}, 5000);

$(document).ready(function() {
	$("#main.container").change(function() {
		clearInterval(refreshTimer);
		alert("interval cleared");
	});
});
</script>