<!DOCTYPE html>
<html>
<head>
  <title>Levion Phone Handler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container" id="topbar">
				<a class="brand"><%= self.current_user ? "#{self.current_user.name ? self.current_user.name + " (" : "" }#{self.current_user.email}"+ "#{self.current_user.name ? ")" : "" }" : "Call Center" %></a>
					<ul class="nav">
						<li>
							<%= link_to "Home", home_path %>
						</li>
						<li>
							<%= link_to "Call Archive", calls_path %></a>
						</li>
						<li>
							<%= link_to "Agent Settings", users_index_path %></a>
						</li>
						<li>
							<%= link_to "Log Out", destroy_user_session_url, :method => :delete %>
						</li>
					</ul>
				</div>
		</div>
	</div>

	<div class="container" id="main">
		<% if flash[:alert] %>
		<%= render "layouts/error" %>
		<% end %>		
		<%= yield %>
	</div>
</body>
</html>
